.Accomodation {
    display: flex;
    flex-direction: column;
}

.Accomodation > .section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Accomodation > .section > .text-box {
    font-family: Cinzel;
    width: 50vw;
    padding: 5%;
    padding-bottom: 0;
}

.Accomodation > .section > .text-box > p {
    font-size: calc(10px + 1.6vmin);
    text-align: left;
    font-weight: normal;
}

.Accomodation > .section > .text-box > ul {
 padding: 0;
}

.Accomodation > .section > .text-box > ul > li {
    font-size: calc(10px + 1vmin);
    text-align: left;
    list-style-type: none;
    font-weight: normal;
}

.Accomodation > .section > .text-box > ul > li > a {
    text-decoration: none;
}

.Accomodation > .section > .photo-box {
    width: 50vw;
    padding: 5%;
    padding-bottom: 0;
}

.Accomodation > .section > .photo-box > img {
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}