body {
  margin: 0;
  font-family: Raleway;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: Raleway;
  src: url('./fonts//raleway-medium.ttf');
}

@font-face {
  font-family: Raleway;
  src: url('./fonts//raleway-bold.ttf');
  font-weight: bold;
}


@font-face {
  font-family: Raleway;
  src: url('./fonts//raleway-light.ttf');
  font-weight: lighter;
}


@font-face {
  font-family: Raleway;
  src: url('./fonts//raleway-regular.ttf');
  font-weight: normal;
}
